@model IEnumerable<BlogApplication.Models.BlogPost>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BPost)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Post_Publish_DateTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AuthorsName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BPost)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Post_Publish_DateTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AuthorsName)
            </td>
            <td>
                    @Html.ActionLink("Update", "UpdateBlogPost", new { id=item.Id }) |
                    @Html.ActionLink("Details", "Details", new { id=item.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id=item.Id })
            </td>
        </tr>
}
    </tbody>
</table>
