@model IEnumerable<BlogApplication.Models.Author>

@{
    ViewData["Title"] = "Index";
}
<style>
    #docDiv {
        float: left;
        position: relative;
        margin: 5px;
    }
</style>
<h1>Index</h1>



@foreach (var item in Model)
{
    <div class="card" id="AutDiv" style="width: 18rem;">
        <img style="height:200px;width:200px;" class="card-img-top" src="@item.Pic" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">@item.AuthorsName</h5>
            <p class="card-text">The Aut has @item.Description and is a @item.Email</p>


            @*   <a asp-controller="Author" asp-action="Details" asp-route-id="@item.AuthorId" class="btn btn-primary">View Details</a> *@


            <a asp-controller="BlogPost" asp-action="CreateBlogPost" asp-route-id="@item.Id" class="btn btn-primary">New Blog</a>
        </div>
    </div>
    <td>
        @Html.ActionLink("Update", "Update", new { id=item.Id }) |
        @Html.ActionLink("Details", "Details", new { id=item.Id  }) |
        @Html.ActionLink("Delete", "Delete", new { id=item.Id })
    </td>
}

<div class="alert alert-danger">
    @ViewBag.ErrorMessage
</div>